<script type="module">
  import { html, render, useState, useEffect, useCallback } from 'https://unpkg.com/htm@3.0.4/preact/standalone.module.js'

  function Form (props) {
    return html`
      <div>
        <label>Time window</label>
        <select value=${props.days} onChange=${props.updateTimeInterval}>
          <option value="91.5">3 months</option>
          <option value="183">6 months</option>
          <option value="274.5">9 months</option>
          <option value="366">1 year</option>
          <option value="549">1.5 years</option>
          <option value="732">2 years</option>
          <option value="1098">3 years</option>
          <option value="1464">4 years</option>
          <option value="1830" selected>5 years</option>
          <option value="2196">6 years</option>
          <option value="2562">7 years</option>
          <option value="2928">8 years</option>
          <option value="3294">9 years</option>
          <option value="3660">10 years</option>
        </select>
      </div>
      <div>
        <label># of people impacted: </label>
        <input type="number" name="peopleAffected" value=${props.peopleAffected} min="1" onChange=${props.updatePeopleAffected} />
      </div>
    `
  }

  function RawLimit(timeSaved, frequency, timePeriodInDays, peopleAffected) {
    const threshold = (frequency * timePeriodInDays) * timeSaved * peopleAffected;
    return FormatTime(threshold, timePeriodInDays * 86400)
  }

  function FormatTime(duration, timePeriodInSeconds) {
    if (Math.abs(timePeriodInSeconds - duration) < 0.01) {
      return "=="
    }
    if (timePeriodInSeconds < duration) {
      return "N/A"
    }
    if (duration < 60) {
      return duration.toFixed(1) + " seconds"
    }
    else if (duration <= 3600) {
      return (duration/60).toFixed(1) + " mins"
    }
    else if (duration <= 86400 ) {
      return (duration/3600).toFixed(1) + " hrs"
    }
    else if (duration <= 604800 ) {
      return (duration/86400).toFixed(1) + " days"
    }
    else if (duration <= 2635200) {
      return (duration/604800).toFixed(1) + " weeks"
    }
    else {
      return (duration/2635200).toFixed(1) + " months"
    }
  }

  function ThingRow (props) {
    return html`
      <tr class="border border-solid-black">
        <td class="border border-solid-black">${props.label}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count),50, props.days, props.peopleAffected)}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count), 5, props.days, props.peopleAffected)}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count), 1, props.days, props.peopleAffected)}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count), 1/7, props.days, props.peopleAffected)}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count), 1/30.5, props.days, props.peopleAffected)}</td>
        <td class="border border-solid-black">${RawLimit(Number(props.count), 1/365, props.days, props.peopleAffected)}</td>
      </tr>
    `
  }

  function Table (props) {
    return html`
      <table class="border border-solid-black bg-white mt-4">
        <thead>
          <th>   </th>
          <th>50/Day</th>
          <th>5/Day</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
          <th>Yearly</th>
        </thead>
        <tbody>
          <${ThingRow} label="1 second" count="1" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="5 seconds" count="5" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="30 seconds" count="30" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="1 minute" count="60" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="5 minutes" count="150" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="30 minutes" count="1800" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="1 hour" count="3600" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="6 hours" count="21600" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="1 day" count="86400" days=${props.days} peopleAffected=${props.peopleAffected}/>
          <${ThingRow} label="1 week" count="604800" days=${props.days} peopleAffected=${props.peopleAffected}/>
        </tbody>
      </table>

    `
  }

  function Whoa (props) {
    return html`<div class="bg-blue-200">Hello ${props.name}</div>`;
  }

  function Main (props) {
    const nice = 30.5 * 12;
    const [ days, setDays ] = useState(30.5 * 12);
    const [ peopleAffected, setPeopleAffected ] = useState(1)
    console.log("people affected: ", peopleAffected)

    const updatePeopleAffected = useCallback( (e) => {
      setPeopleAffected(e.target.value)
    }, [peopleAffected, setPeopleAffected])

    const updateTimeInterval = useCallback( (e) => {
      console.log(e);
      setDays(e.target.value)
    }, [days, setDays])

    return html`
    <div>
      <${Form} updateTimeInterval=${updateTimeInterval} days=${days} updatePeopleAffected=${updatePeopleAffected} peopleAffected=${peopleAffected} />
      <${Table} peopleAffected=${peopleAffected} days=${days} />
    </div>
    `;

  }

  const app = html`
    <${Main} />
  `

  render(app, document.querySelector("#app-area"));
</script>
