<script type="module">
  import { html, render, useState, useEffect, useCallback } from 'https://unpkg.com/htm@3.0.4/preact/standalone.module.js'

  const inputDurations = [
    {label: "3 months", duration: 3},
    {label: "6 months", duration: 6},
    {label: "9 months", duration: 9},
    {label: "1 year", duration: 12},
    {label: "1.5 years", duration: 18},
    {label: "2 years", duration: 24},
    {label: "3 years", duration: 36},
    {label: "4 years", duration: 48},
    {label: "5 years", duration: 60},
    {label: "6 years", duration: 72},
    {label: "7 years", duration: 84},
    {label: "8 years", duration: 96},
    {label: "9 years", duration: 108},
    {label: "10 years", duration: 120},
  ]
  const monthInDays = (m) => (m * 30.5)

  const secondsInHour = 3600
  const secondsInMinute = 60

  function Form (props) {
    const options = inputDurations.map((o, i) => (
      html`<option value=${i}>${o.label}</option>`
    ))
    return html`
      <label>Time window</label>
      <div style="display: flex; flex-direction: row; width: 100%">
        <input style="width: 50%" value=${props.activeDuration} type="range" min="0" max="13" step="1" onChange=${props.updateTimeInterval} />
        <select style="width: 50%" value=${props.activeDuration} onChange=${props.updateTimeInterval}>
          ${options}
        </select>
      </div>
      <label># of people impacted: </label>
      <div style="display: flex; flex-direction: row; width: 100%">
        <input style="width: 50%;" value=${props.peopleAffected} type="range" min="1" max="30" step="1" onChange=${props.updatePeopleAffected} />
        <input style="width: 50%;" type="number" name="peopleAffected" value=${props.peopleAffected} min="1" onChange=${props.updatePeopleAffected} />
      </div>
      <label>day duration: </label>
      <div style="display: flex; flex-direction: row; width: 100%">
        <div style="width: 50%">
          <input
            type="radio"
            id="8hours"
            name="dayduration"
            value="8"
            onChange=${props.updateDayDuration}
            checked=${props.dayDuration === 8}
            />
          <label for="8hours">business days</label>
        </div>
        <div style="width: 50%">
          <input
            type="radio"
            id="24hours"
            name="dayduration"
            value="24"
            onChange=${props.updateDayDuration}
            checked=${props.dayDuration === 24}
          />
          <label for="24hours">24 hour day</label>
        </div>
      </div>
    `
  }

  function Cell(props) {
    const threshold = (props.frequency * props.timePeriodInDays) * props.timeSaved * props.peopleAffected;
    const {duration, large, small} = roundToLargestTimeUnit(
      threshold,
      props.timePeriodInDays * (secondsInHour * props.dayDuration) * props.peopleAffected,
      props.dayDuration
    )

    return html`
      <div>
        ${duration} ${large}
      </div>
    `
  }

  const timeCellLabels = {
      seconds: {large: "seconds", small: "s"},
      minutes: {large: "minutes", small: "m"},
      hours: {large: "hours", small: "h"},
      days: {large: "days", small: "D"},
      weeks: {large: "weeks", small: "W"},
      months: {large: "months", small: "M"}
  }


  function roundToLargestTimeUnit(duration, timePeriodInSeconds, dayDuration) {
    if (Math.abs(timePeriodInSeconds - duration) < 0.01) {
      return {duration: "=="}
    }
    if (timePeriodInSeconds < duration) {
      return {duration: "N/A"}
    }
    if (duration < secondsInMinute) {
      return {duration: duration.toFixed(1), ...timeCellLabels.seconds}
    }
    else if (duration <= secondsInHour) {
      return {duration: (duration/secondsInMinute).toFixed(1), ...timeCellLabels.minutes}
    }
    else if (duration <= secondsInHour * dayDuration ) {
      return {duration: (duration/secondsInHour).toFixed(1), ...timeCellLabels.hours}
    }
    else if (duration <= secondsInHour * dayDuration * 7 ) {
      return {duration: (duration/(secondsInHour * dayDuration)).toFixed(1), ...timeCellLabels.days}
    }
    else if (duration <= secondsInHour * dayDuration * 30.5) {
      return {duration: (duration/(secondsInHour * dayDuration * 7)).toFixed(1), ...timeCellLabels.weeks}
    }
    else {
      return {duration: (duration/(secondsInHour * dayDuration * 30.5)).toFixed(1), ...timeCellLabels.months}
    }
  }

  function Row (props) {
    return html`
      <tr>
        <td>${props.label}</td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${50} timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${5} timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${1} timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${1/7} timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${1/30.5}  timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
        <td><${Cell} timeSaved=${Number(props.count)} frequency=${1/365}  timePeriodInDays=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} /></td>
      </tr>
    `
  }

  function Table (props) {
    return html`
      <table>
        <thead>
          <th>   </th>
          <th>50/Day</th>
          <th>5/Day</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
          <th>Yearly</th>
        </thead>
        <tbody>
          <${Row} label="1 second" count="1" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="5 seconds" count="5" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="30 seconds" count="30" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="1 minute" count="60" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="5 minutes" count="150" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="30 minutes" count="1800" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="1 hour" count="3600" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="6 hours" count="21600" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="1 day" count="${secondsInHour * props.dayDuration}" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
          <${Row} label="1 week" count="${secondsInHour * props.dayDuration * 7}" days=${props.days} peopleAffected=${props.peopleAffected} dayDuration=${props.dayDuration} />
        </tbody>
      </table>

    `
  }

  function Main (props) {
    const [ activeDuration, setActiveDuration ] = useState(1)
    const [ peopleAffected, setPeopleAffected ] = useState(1)
    const [ dayDuration, setDayDuration ] = useState(8)

    const days = monthInDays(inputDurations[activeDuration].duration)

    const updatePeopleAffected = useCallback( (e) => {
      setPeopleAffected(e.target.value)
    }, [peopleAffected, setPeopleAffected])

    const updateTimeInterval = useCallback( (e) => {
      setActiveDuration(e.target.value)
    }, [activeDuration, setActiveDuration])

    const updateDayDuration = useCallback( (e) => {
      setDayDuration(Number(e.target.value))
    }, [dayDuration, setDayDuration])

    return html`
    <div>
      <${Form}
        updateTimeInterval=${updateTimeInterval}
        activeDuration=${activeDuration}
        updatePeopleAffected=${updatePeopleAffected}
        peopleAffected=${peopleAffected}
        dayDuration=${dayDuration}
        updateDayDuration=${updateDayDuration}
      />
      <${Table}
        peopleAffected=${peopleAffected}
        days=${days}
        dayDuration=${dayDuration}
      />
    </div>
    `;

  }

  const app = html`
    <${Main} />
  `

  render(app, document.querySelector("#app-area"));
</script>
