---
layout: base.njk
---

<header>
TimeCalculations.net
</header>
<div class="mb-4">
  <p> how long you can work on making a routine more efficient before you you're spending more time than you save<p>
</div>

<div id="app-area">
</div>

<div class="mt-4">
  <p> the columns - how often you do the task  <p>
  <p> the rows - how much time you'll save<p>
  <p> the cells - the limit where, if you get any larger you'll start wasting time.<p>
</div>

<p>This is based on the classic <a href="https://xkcd.com/1205/">XKCD comic.</a> The original comic is <i>great</i>, but it has one glaring problem - it's stuck at 5 years, which is an impractically long time span.<p>

<footer>
  <p>I'm some footer content</p>
</footer>
{% include "app.html" %}

