---
layout: base.njk
title: TimeCalculations.net
description: for finding out if it's worth the time to speed routine tasks up
---

<header>
  <nav>
    <h1>TimeCalculations.net</h1>
  </nav>
</header>
<main>
  <article>
    <section>
      <aside>
        <p>If you want to make a process more efficient, you can only work on it for so long before you end spending more time than you save.<p>
        <p>This helps you find the cutoff point and - yup! - is based on this classic <a href="https://xkcd.com/1205/">XKCD comic.</a>
      </aside>
    </section>

    <section class="app-area">
      <div id="app-area" >
      </div>
    </section>

    <ol>
      <li>The columns: show many times a day/week/month you need to do the task.</li>
      <li>The rows: if you can save an amount of time per task</li>
      <li>The cells: shows you the cutoff point.</li>
    </ol>
  </article>
<main>

{% include "app.html" %}
